#title{
    background-color:maroon;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: xx-large;
    align-content: center;
  }
#innerTable{
  border: "6" ;
  border-color: "black";
  border-radius: 2;
}
th{
    background-color: lightgrey;
    padding: 0.75em;
  }
caption{
  width: '100%';
  text-align: center;
  }